{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}



{{ attach_library('metsis_lib/metsis_lib') }}
{{ attach_library('metsis_qsearch/qstyles') }}
{{ attach_library('metsis_qsearch/qsearch') }}
{{ attach_library('metsis_qsearch/qsearch.results') }}
{{ attach_library('metsis_lib/tables') }}
{{ attach_library('metsis_lib/utils') }}
{{ attach_library('metsis_lib/adc_buttons') }}

{{ attach_library('metsis_qsearch/pagination') }}

<div class="mewrapper">
    <div class="mebox">
        <div class="elementsbox elementsc1">
            <b>Parent data information</b> <br>

            <b>Title:</b> {{ form.ptitle }} <br>

            <b>Metadata identifier:</b> {{ form.pmid }}  <br>

            <b>Abstract:</b> {{ form.pabstract }} <br>

        </div><br>
        <div class="elementsbox contentb">


      {{ form |without('ptitle', 'pmid', 'pabstract', 'form_build_id', 'form_token', 'form_id')}}
<!--            <a href="<?php print($calling_results_page); ?>" class="adc-button"><?php print t('Back to results') ?>
            </a>-->
<!--            <a href="<?php print($calling_results_page); ?>" class="button"><?php print t('Back to results') ?>
            </a>-->
        </div>
    </div>
</div>
{{ form_build_id }}
{{ form_token }}
{{ form_id }}
{# { form.form_id } #}
{# { form.form_token } #}
