{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{{ form_build_id }}
{{ attach_library('metsis_qsearch/qsearch.misc') }}
{{ attach_library('metsis_qsearch/qstyles') }}
{{ attach_library('metsis_qsearch/qsearch') }}
{{ attach_library('metsis_wms/bundle') }}
{{ attach_library('metsis_lib/metsis_lib') }}
{{ attach_library('metsis_lib/utils') }}
{{ attach_library('metsis_lib/autocomplete') }}

<div>
{# set attributes = attributes.removeClass('js-form-item') #}
    <div class="non-map-div">
     {{ form|without('geographical_search', 'form_token', 'form_id') }}
    </div>
    <div class="map-div">
    <div class="geographical-search-div">
      {{ form.geographical_search }}
    </div>
  </div>
{{ form_id }}
{{ form_token }}
{{ form.form_id }}
{{ form.form_token }}
</div>
